<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>alreadyCount</key>
		<string>2242</string>
		<key>totalCount</key>
		<string>2899</string>
		<key>picture</key>
		<string>good1</string>
	</dict>
	<dict>
		<key>alreadyCount</key>
		<string>3400</string>
		<key>totalCount</key>
		<string>3500</string>
		<key>picture</key>
		<string>good2</string>
	</dict>
	<dict>
		<key>alreadyCount</key>
		<string>2122</string>
		<key>totalCount</key>
		<string>2500</string>
		<key>picture</key>
		<string>good3</string>
	</dict>
	<dict>
		<key>alreadyCount</key>
		<string>1800</string>
		<key>totalCount</key>
		<string>2000</string>
		<key>picture</key>
		<string>good4</string>
	</dict>
	<dict>
		<key>alreadyCount</key>
		<string>1656</string>
		<key>totalCount</key>
		<string>2000</string>
		<key>picture</key>
		<string>good5</string>
	</dict>
	<dict>
		<key>alreadyCount</key>
		<string>800</string>
		<key>totalCount</key>
		<string>1200</string>
		<key>picture</key>
		<string>good6</string>
	</dict>
	<dict>
		<key>alreadyCount</key>
		<string>566</string>
		<key>totalCount</key>
		<string>800</string>
		<key>picture</key>
		<string>good7</string>
	</dict>
	<dict>
		<key>alreadyCount</key>
		<string>666</string>
		<key>totalCount</key>
		<string>888</string>
		<key>picture</key>
		<string>good8</string>
	</dict>
</array>
</plist>
