<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>imageName</key>
			<string>Ghana</string>
			<key>name</key>
			<string>Ghana</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Kenya</string>
			<key>name</key>
			<string>Kenya</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Morocco</string>
			<key>name</key>
			<string>Morocco</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Mozambique</string>
			<key>name</key>
			<string>Mozambique</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Rwanda</string>
			<key>name</key>
			<string>Rwanda</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>South_Africa</string>
			<key>name</key>
			<string>South Africa</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imageName</key>
			<string>China</string>
			<key>name</key>
			<string>China</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>India</string>
			<key>name</key>
			<string>India</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Japan</string>
			<key>name</key>
			<string>Japan</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Mongolia</string>
			<key>name</key>
			<string>Mongolia</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Russia</string>
			<key>name</key>
			<string>Russia</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Turkey</string>
			<key>name</key>
			<string>Turkey</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imageName</key>
			<string>Australia</string>
			<key>name</key>
			<string>Australia</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>New_Zealand</string>
			<key>name</key>
			<string>New Zealand</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imageName</key>
			<string>France</string>
			<key>name</key>
			<string>France</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Germany</string>
			<key>name</key>
			<string>Germany</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Iceland</string>
			<key>name</key>
			<string>Iceland</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Ireland</string>
			<key>name</key>
			<string>Ireland</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Italy</string>
			<key>name</key>
			<string>Italy</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Poland</string>
			<key>name</key>
			<string>Poland</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Russia</string>
			<key>name</key>
			<string>Russia</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Spain</string>
			<key>name</key>
			<string>Spain</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Sweden</string>
			<key>name</key>
			<string>Sweden</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Turkey</string>
			<key>name</key>
			<string>Turkey</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>United_Kingdom</string>
			<key>name</key>
			<string>United Kingdom</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imageName</key>
			<string>Canada</string>
			<key>name</key>
			<string>Canada</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Mexico</string>
			<key>name</key>
			<string>Mexico</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>United_States</string>
			<key>name</key>
			<string>United States</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imageName</key>
			<string>Argentina</string>
			<key>name</key>
			<string>Argentina</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Brazil</string>
			<key>name</key>
			<string>Brazil</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>Chile</string>
			<key>name</key>
			<string>Chile</string>
		</dict>
	</array>
</array>
</plist>
