<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>s_1</string>
		<key>Name</key>
		<string>白羊座</string>
		<key>Fortune</key>
		<string>star4</string>
		<key>Text</key>
		<string>今天工作认真，个人专长得到很好的发挥，对新任务也自信满满，成绩显著。...[详细]</string>
		<key>Date</key>
		<string>3.21-4.19</string>
	</dict>
	<dict>
		<key>image</key>
		<string>s_2</string>
		<key>Name</key>
		<string>金牛座</string>
		<key>Fortune</key>
		<string>star3</string>
		<key>Text</key>
		<string>今天压力稍微有点大，工作上需要处理的事情蛮多，要有一定的耐性才能完成...[详细]</string>
		<key>Date</key>
		<string>4.20-5.20</string>
	</dict>
	<dict>
		<key>image</key>
		<string>s_3</string>
		<key>Name</key>
		<string>双子座</string>
		<key>Fortune</key>
		<string>star4</string>
		<key>Text</key>
		<string>今天是适合示爱的好日子，要注意把握机会了。待人接物上要有风度礼貌，这...[详细]</string>
		<key>Date</key>
		<string>5.21-6.21</string>
	</dict>
	<dict>
		<key>image</key>
		<string>s_4</string>
		<key>Name</key>
		<string>巨蟹座</string>
		<key>Fortune</key>
		<string>star3</string>
		<key>Text</key>
		<string>抓紧时间多做一些有意义的事情，不要在一些无关紧要的事情上面钻牛角尖。...[详细]</string>
		<key>Date</key>
		<string>6.22-7.22</string>
	</dict>
	<dict>
		<key>image</key>
		<string>s_5</string>
		<key>Name</key>
		<string>狮子座</string>
		<key>Fortune</key>
		<string>star4</string>
		<key>Text</key>
		<string>工作气氛轻松，你的欢声笑语感染了身边的所有人。有机会会在团体活动中认...[详细]</string>
		<key>Date</key>
		<string>7.23-8.22</string>
	</dict>
	<dict>
		<key>image</key>
		<string>s_6</string>
		<key>Name</key>
		<string>处女座</string>
		<key>Fortune</key>
		<string>star4</string>
		<key>Text</key>
		<string>今天突然感觉另一半好像陌生人一样，自己什么都不了解对方，感情陷入僵局...[详细]</string>
		<key>Date</key>
		<string>8.23-9.22</string>
	</dict>
	<dict>
		<key>image</key>
		<string>s_7</string>
		<key>Name</key>
		<string>天秤座</string>
		<key>Fortune</key>
		<string>star4</string>
		<key>Text</key>
		<string>今天心情非常好，也是谈情说爱的好日子，与喜欢的人约会尽情游玩。工作上...[详细]</string>
		<key>Date</key>
		<string>9.23-10.23</string>
	</dict>
	<dict>
		<key>image</key>
		<string>s_8</string>
		<key>Name</key>
		<string>天蝎座</string>
		<key>Fortune</key>
		<string>star3</string>
		<key>Text</key>
		<string>做事有小聪明，但也容易让你出差错，还是要小心谨慎一些比较好，要不然会...[详细]</string>
		<key>Date</key>
		<string>10.24-11.22</string>
	</dict>
	<dict>
		<key>image</key>
		<string>s_9</string>
		<key>Name</key>
		<string>射手座</string>
		<key>Fortune</key>
		<string>star3</string>
		<key>Text</key>
		<string>今天疑心病很重，需要调整心理。做事热情度不高，时时刻刻都被他人盯着，...[详细]</string>
		<key>Date</key>
		<string>11.23-12.21</string>
	</dict>
	<dict>
		<key>image</key>
		<string>s_10</string>
		<key>Name</key>
		<string>摩羯座</string>
		<key>Fortune</key>
		<string>star5</string>
		<key>Text</key>
		<string>今天职场活动较多，要多积极参与，有机会结识到很多不同领域的人士，帮助...[详细]</string>
		<key>Date</key>
		<string>12.22-1.19</string>
	</dict>
	<dict>
		<key>image</key>
		<string>s_11</string>
		<key>Name</key>
		<string>水瓶座</string>
		<key>Fortune</key>
		<string>star3</string>
		<key>Text</key>
		<string>今天双方需要好好沟通一下才行，把时间腾出来给另一半吧！工作上要处理的...[详细]</string>
		<key>Date</key>
		<string>1.20-2.18</string>
	</dict>
	<dict>
		<key>image</key>
		<string>s_12</string>
		<key>Name</key>
		<string>双鱼座</string>
		<key>Fortune</key>
		<string>star3</string>
		<key>Text</key>
		<string>脑子里想法太多了，不如出去走走，放松一下再从新投入工作会好一些。晚上...[详细]</string>
		<key>Date</key>
		<string>2.19-3.20</string>
	</dict>
</array>
</plist>
