<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>images</key>
		<array>
			<string>fruit01</string>
			<string>fruit02</string>
			<string>fruit03</string>
			<string>fruit04</string>
			<string>fruit05</string>
			<string>fruit06</string>
		</array>
		<key>chinese</key>
		<string>水果</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>lamp01</string>
			<string>lamp02</string>
			<string>lamp03</string>
			<string>lamp04</string>
			<string>lamp05</string>
			<string>lamp06</string>
		</array>
		<key>chinese</key>
		<string>台灯</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>animal03</string>
			<string>animal04</string>
			<string>animal05</string>
			<string>animal06</string>
			<string>animal02</string>
			<string>animal01</string>
		</array>
		<key>chinese</key>
		<string>动物</string>
	</dict>
	<dict>
		<key>chinese</key>
		<string>衣服</string>
		<key>images</key>
		<array>
			<string>cloth02</string>
			<string>cloth03</string>
			<string>cloth04</string>
			<string>cloth05</string>
			<string>cloth06</string>
			<string>cloth01</string>
		</array>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>shoes06</string>
			<string>shoes05</string>
			<string>shoes04</string>
			<string>shoes03</string>
			<string>shoes02</string>
			<string>shoes01</string>
		</array>
		<key>chinese</key>
		<string>鞋子</string>
	</dict>
</array>
</plist>
