<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>1</string>
		<key>title</key>
		<string>压感屏技术或将列入国产手机标配功能</string>
		<key>date</key>
		<string>发表于2016年3月7日 / 新闻,业界资讯,玩机助手/ 204次浏览 / 1条评论</string>
		<key>Text</key>
		<string>今年还会有更多国产厂商部署压感屏技术，今年小米、魅族、OPPO和vivo也正在部署该技术。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>2</string>
		<key>title</key>
		<string>《Hundred 百武装战记》确定首播日期為4月4日</string>
		<key>date</key>
		<string>发表于2016年3月7日 / 同步游戏中心,掌机&amp;动漫,次元站,动漫情报/ 19次浏览 / 0条评论</string>
		<key>Text</key>
		<string>《Hundred 百武装战记》描述一个被神秘生命体侵略的世界，唯一能与之抗衡的只有名為「百武装」的兵器。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>3</string>
		<key>title</key>
		<string>合理消费理性氪金！《皇室战争》烧钱指南</string>
		<key>date</key>
		<string>发表于2016年3月7日 / 第九区,游戏攻略,手机网游/ 153次浏览 / 1条评论</string>
		<key>Text</key>
		<string>《皇室冲突》已在国服上架，那么如何消费才是最实惠？小编在此给出《皇室战争》烧钱指南帮助合理氪金。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>4</string>
		<key>title</key>
		<string>导致iPhone6s存储空间不足的真凶居然是它！</string>
		<key>date</key>
		<string>发表于2016年3月7日 / 新闻,苹果资讯,玩机助手/ 926次浏览 / 2条评论</string>
		<key>Text</key>
		<string>iPhone6s存储空间不足怎么回事？Whatsapp居然竟是幕后凶手？</string>
	</dict>
	<dict>
		<key>image</key>
		<string>5</string>
		<key>title</key>
		<string>推理冒险游戏《Thimbleweed Park》最新宣传视频曝光！</string>
		<key>date</key>
		<string>发表于2016年3月7日 / 同步游戏中心,新闻资讯,单机,第九区,新游/ 153次浏览 / 0条评论</string>
		<key>Text</key>
		<string>玩家们将可以通过五名角色各自不同的发现与想法来深入了解这起案件，并借此来进行推理调查，找出这起事件背后的真相与元凶！</string>
	</dict>
	<dict>
		<key>image</key>
		<string>6</string>
		<key>title</key>
		<string>VR版《我的世界》使用 Oculus Rift 头盔是什么体验？</string>
		<key>date</key>
		<string>发表于2016年3月7日 / 第九区,新游,手机单机/ 79次浏览 / 0条评论</string>
		<key>Text</key>
		<string>随着 Oculus Rift 头盔的开售，微软正式推出了 VR 版《我的世界》。VR 版《我的世界》玩起来到底是什么样一种体验？</string>
	</dict>
	<dict>
		<key>image</key>
		<string>7</string>
		<key>title</key>
		<string>iPhone5se若成功 MacBook也可推中端机</string>
		<key>date</key>
		<string>发表于2016年3月7日 / 新闻,苹果资讯/ 459次浏览 / 0条评论</string>
		<key>Text</key>
		<string>苹果旗下高端硬件产品MacBook系列笔记本电脑，MacBook系列产品会不会也尝试走一走中端路线？</string>
	</dict>
	<dict>
		<key>image</key>
		<string>8</string>
		<key>title</key>
		<string>官方宣称《迪士尼无限3》将迎大更新！</string>
		<key>date</key>
		<string>发表于2016年3月7日 / 同步游戏中心,新闻资讯,单机,第九区,新游/ 255次浏览 / 1条评论</string>
		<key>Text</key>
		<string>就在近日，官方宣布《迪士尼无限3》将迎来一次重大版本更新。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>9</string>
		<key>title</key>
		<string>90%的安卓用户安装应用一个月后就会弃用</string>
		<key>date</key>
		<string>发表于2016年3月7日 / 新闻,安卓资讯/ 324次浏览 / 6条评论</string>
		<key>Text</key>
		<string>77%的应用在三天之后就会失去当时安装它们的用户，在一个月之后，90%的用户将停止使用这款应用。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>10</string>
		<key>title</key>
		<string>《在地下城邂逅》外传TV动画化决定</string>
		<key>date</key>
		<string>发表于2016年3月7日 / 同步游戏中心,掌机&amp;动漫,次元站,动漫情报/ 27次浏览 / 0条评论</string>
		<key>Text</key>
		<string>《在地下城寻求邂逅是否搞错了什么》外传以剑姬艾丝·华伦斯坦为主要角色展开，讲述了她同某位少年的邂逅。</string>
	</dict>
</array>
</plist>
